<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Numbers</title>
    <link rel="stylesheet" href="traccounter.css" charset="utf-8">
  </head>
  <body>
    <div class="traccounter">
      <div class="controller">
        <div>
          <input type="text" v-model="newTitle">
          <input type="text" v-model="newUrl">
          <button v-on="click: save">save</button>
        </div>
        <div>
          <textarea v-model="importJson"></textarea>
          <button v-on="click: importData">import</button>
        </div>
        <div>
          <button class="close-button" v-on="click: hideController">close</button>
        </div>
      </div>
      <div class="tracs">
        <div class="trac" v-repeat="numbers">
          <button class="del" v-on="click: remove(this)">x</button>
          <a class="link" href="{{url}}" target="_blank" v-on="click: hide">
            <span class="number">{{num}}</span>
          </a>
          <span class="title">{{title}}</span>
        </div>
        <div class="trac adder">
          <a class="link" href="javascript:void(0);" v-on="click: showController">
            <span class="number">+</span>
          </a>
          <span class="title">Add</span>
        </div>
      </div>
    </div>
  </body>
</html>
