<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Numbers</title>
    <link rel="stylesheet" href="traccounter.css" charset="utf-8">
  </head>
  <body>
    <div class="traccounter">
      <div class="control">
        <input type="text" v-model="newUrl">
        <input type="text" v-model="newTitle">
        <button v-on="click: save">save</button>
      </div>
      <div class="trac" v-repeat="numbers">
        <span>{{title}}</span>
        <a class="link" href="{{url}}" target="_blank" v-on="click: hide">
          <span class="number">{{num}}</span>
        </a>
        <button v-on="click: remove(this)">delete</button>
      </div>
    </div>
  </body>
</html>
